.App {
    font-family: sans-serif;
    text-align: center;
    
  }
.board {
    display: inline-block;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px

}
.puzzle{
  display: "flex";
}

.tile {
    display: "flex";
    justify-Content: "center";
    /* align-items: "center"; */
    width: 77px;
    height: 77px;
    margin: 2;
    border: 2px solid black;
    border-radius: 5px;
    cursor: "pointer";
    margin: 2px;
    user-select: "none"
}

.tileText {
  height: 77px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-Size: 2rem;
  font-Weight: bold
}

/* //////// WITH LETTERS////////////////////////// */
.Container {
  display: flex;
  border: 2px solid red;
}

.tileTextBlank {
  height: 77px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-Size: 2rem;
  font-Weight: bold;
  border: 2px solid blue;
}


/* ////////////////////////////////////////////////////////////////////////// */
/* /////////////////////WORDLE SETUP///////////////////////////////////////// */


.rowWrapper2 {
  display: flex;
  justify-content: center;
}

.letterposit2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 77px;
  font-Size: 2rem;
  font-Weight: bold;
  /* background-color: lightgray; */
  /* border: 2px solid black; */
}
.wordStart2 {
  color: var(--white);
  background-color: gray;
  width: 77px;
  height: 77px;
  border: 2px solid black;
  margin: 2px;
}

.empty {
  color: var(--white);
  background-color: var(--gray);
  width: 77px;
  height: 77px;
  border: 2px solid black;
  margin: 2px;
}

/* LETTER CORRECT POSITION */
.correct {
  color: var(--white);
  background-color: green;
  width: 77px;
  height: 77px;
  border: 2px solid black;
  margin: 2px;
}

/* LETTER WRONG POSITION POSITION */
.wrongposition {
  color: var(--white);
  background-color: var(--yellow);
  width: 77px;
  height: 77px;
  border: 2px solid black;
  margin: 2px;
}